/* 
    MAIN
*/

h1 {color: var(--light_color);}

body {background-image: url("../img/img_bg.jpg");background-repeat: no-repeat;background-size: cover;}

.row { display: flex;}

.cell {display: flex;justify-content: center;align-items: center;text-align: center;height: 5rem;width: 5rem;color: transparent;background-color: transparent;border: 1px solid var(--grid_cell_border);cursor: pointer;box-shadow: 0 0 .3125rem rgba(0, 0, 0, 0.3);transition: transform 0.2s ease-in-out;}
  
.cell.clicked {background-color: var(--clicked_color);}

.cell:hover {background-color: var(--hover_color);transform: translateY(-.125rem);box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, 0.3);}

.btn {background-color: var(--button_color); color: var(--light_color); padding: .625rem 1.25rem; border-radius: .3125rem; text-transform: uppercase; box-shadow: 0rem .125rem .3125rem rgba(0, 0, 0, 0.25); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); cursor: pointer;}
  
.btn:hover {background-color: var(--hover_button_color); color: var(--light_color);}

.bomb {background-color: var(--bomb_color);}

.card {display: flex;flex-direction: column;justify-content: space-between;align-items: center;padding: 1.25rem;background:#F2F2F2; background-image:linear-gradient(to bottom, #f2f2f2, #e6e6e6);border-radius: .3125rem; ; max-width: 18.75rem;margin: 0 auto;border: none;}
    
.card h5 {text-align: center;margin: .3125rem;font-size: 1.5rem;font-weight: bold;color: var(--dark_color);}
    
.card p {margin: .3125rem;font-size: 1.125rem;color: var(--dark_color);}
    
.card p span {font-weight: bold;color: var(--details_color);margin-left: .3125rem;}

.card-text {display: flex;align-items: center;}
  
.card-text i {margin-right: 0.5rem;}

#reset-button {background-color: var(--reset_color);}

#reset-button:hover {background-color: var(--reset_hover_color);}